#navbar div:nth-of-type(4) > .drop-header {
  background-color: rgba(0, 69, 128, 0.9);
  color: white;
}

#banner-image {
  background: url("../images/Background.gif") no-repeat center center fixed;
  height: 600px;
  background-size: cover;
}

li {
  padding: 4px;
}

#install-android {
  top: -160px;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 800px;
}

.doc-header {
  text-align: center;
}

#closer {
  margin: 20px auto;
  width: 60%;
  text-align: center;
}

@media only screen and (max-device-width: 768px) {

  #banner-image {
    height: 600px;
  }

  .blue-text {
    font-size: 40px;
  }

  li {
    padding: 8px;
  }

  .doc-header {
    font-size: 30px;
  }

  #closer {
    width: 100%;
  }

}
